/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root{
  --main-bcg: #282c34;
  --scnd-bcg: #0e141b;
  --scnd-clr: #fff;
  --h2-fs: 2.4rem;
}

* {
  font-family: 'Sora', sans-serif;  
  color: var(--scnd-clr);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  font-size: 20px;
}
body{
  background-color: var(--main-bcg);
  margin: 0;
  padding: 0;
}
main{
  overflow: hidden;
}
section{
  -webkit-box-shadow: 0 3px 16px rgb(231 231 231 / 50%);
          box-shadow: 0 3px 16px rgb(231 231 231 / 50%);
}
.inner{
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.sec-title {
  text-align: center;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

section.about h2, section.skills h2, section.projects h2, section.footer h2{
  font-size: var(--h2-fs);
} 

section h2 {
  display: inline-block;
  padding-bottom:2px;
  background-image: -o-linear-gradient( var(--scnd-clr), var(--scnd-clr));
  background-image: -webkit-gradient( linear, left top, left bottom, from(var(--scnd-clr)), to(var(--scnd-clr)));
  background-image: linear-gradient( var(--scnd-clr), var(--scnd-clr));
  background-position: right -100% bottom 0;
  background-size: 200% 2px;
  background-repeat: no-repeat;
}

section h2:hover {
  background-position: left -100% bottom 0;
  -webkit-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

/* Main / Intro */
section.intro{
  background-color: var(--main-bcg);
}
.intro .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}
.right-column{
  width: auto;
}
.left-column, .right-column{
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.left-column{
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right-column figure{
  margin: 1em 0;
}
.intro h1{
  font-size: 2.9rem;
  margin: 0.3em 0;
}
.intro .position{
  font-size: 2.4rem;
  min-height: 2.4rem;
  font-weight: 400;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: orange;
  padding-right: 5px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-right: 0.3em;
  margin-left: 0.3em;
  -webkit-animation: 
    typing 2s steps(70, end),
    blink-caret .75s step-end infinite;
          animation: 
    typing 2s steps(70, end),
    blink-caret .75s step-end infinite;
}
.intro .profile-img{
  height: auto;
  width: 400px;
  border-radius: 200px;
  border: 1px solid #0e141b;
  visibility: hidden;
}
.contact {
  margin-top: 40px;
}
.contact img {
  width: 60px;
  margin: 0 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 12px #0e141b;

          box-shadow: 0 4px 12px #0e141b;
}


/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 75% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* About */

section.about{
  background-color: var(--scnd-bcg);
}
section.about .inner{
  width: 1000px;
}

.about p{
  font-size: 1rem;
  text-align: justify;
}



/* Skills */
section.skills{
  background-color: var(--main-bcg);
}
.skills{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills figure {
  text-align: center;
}
.skills figcaption{
  width: 150px;
  text-align: center;
  font-size: 26px;

}
.skills svg{
  max-width: 200px;
}
.skills img {
  width: 150px;
  margin-top: 10px;
}

/* My Projects */
section.projects{
  background-color: var(--scnd-bcg);
}
.projects-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project{
  margin: 20px;
  width:  1000px;
  height: 340px;
  background-color: #22272e;
  border-color: #444c56;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

          position: relative;
          -webkit-box-shadow: 0 1px 2px rgba(248, 248, 248, 0.15);
                  box-shadow: 0 1px 2px rgba(248, 248, 248,0.15);
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.project::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(248, 248, 248,0.3);
          box-shadow: 0 5px 15px rgba(248, 248, 248,0.3);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.project:hover {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.project:hover::after {
  opacity: 1;
}
.project-info, .project-thumb {
  width: 48%;
  padding: 16px;
}
.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.project-info h3{
  color: #539bf5;
  font-weight: 600;
  margin: 5px 0 5px 10px;
  font-size: 1.4rem;
}
.project-info p{
  color: #768390;
  font-size: 1rem;
}
.prj-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project a {
  text-decoration: none;
  font-size: 0.9rem;
}
.project-info span {
  word-wrap: break-word;
}
.project-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-thumb img {
  width: 100%;
  padding: 5px;
}

/* Large screens ----------- */
@media only screen and (max-width: 1440px) {
  html {
    font-size: 19px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
  html {
    font-size: 18px;
  }
  section.about .inner, .inner{
    max-width: 95%;
  }
}
/* Portrait tablet to landscape and desktop */
@media only screen and (max-width: 979px) {
  html {
    font-size: 17px;
  }
  .project{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 600px;
    height: auto;
  }
  .project-info, .project-thumb {
    width: 100%;
    min-height: 200px;
  } 
  .skills svg, .skills img{
    width: 100px;
  }
}
/* Phones */
@media only screen and (max-width: 768px) {
  html {
    font-size: 19px;
  }
  section.about .inner, .inner {
    width: 95%;
  }   
  .intro .profile-img{
    width: 90%;
    max-width: 400px;
  }
  .left-column, .right-column {
    width: auto;
    padding: 0.5rem;
  }
  .about p {
    font-size: 1.2rem;
  }
  .project-info, .project-thumb{
    padding: 0.5rem;
  }
  .project-info p {
    font-size: 1.2rem;
  }
  .project-thumb img {
    width: 100%;
  } 
  .project {
    width: 100%;
    min-width: 320px;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
  section.intro {
    min-height: 100vh;
  }
  .intro .profile-img{
    width: 85%;
    max-width: 340px;
  }
  .intro h1{
    font-size: 2.5rem;
  }
  .intro .position{
    font-size: 2.1rem;
    min-height: 2.1rem;
  }
  .about p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin: 1.5em 0;
  }
  .contact {
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
}
  .contact img {
    width: 55px;
  }
  .project{
    min-width: 300px;
    margin: 1rem 2%;
  }
  .skills svg, .skills img{
    width: 100px;
  }
}
@media only screen and (max-width: 380px) {
  html {
    font-size: 14px;
  }
  .contact img {
    width: 50px;
  }
  .intro .profile-img{
    width: 85%;
    max-width: 320px;
  }

}